/*----------------------------------------------------------------*/

/*------------------------------------------*/

/*--------------SetUp Section 0--------------*/

/*------------------------------------------*/

/*----------------------------------------------------------------*/

/*-----------Green : #267781, ------------*/
/*-----------White : rgb(224, 224, 224) ------------*/
/*-----------purple1 : #84828f------------*/
/*-----------purple2 : #6a687a ------------*/
/*-----------blue : #2c3d55 ------------*/

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

html {
	
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-weight: 300;
	font-size: 20px;
	font-family: 'Lato', 'Arial', 'sans-serif';
	text-rendering: optimizeLegibility;
	background-color: black;
}

body {
	width: 100%;
	background-position: center;
	background-size: cover;
	background: rgb(107, 107, 107);
}



/*----------------------------------------------------------------*/

/*------------------------------------------*/

/*--------------Header Section 1--------------*/

/*------------------------------------------*/

/*----------------------------------------------------------------*/

header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;	
	padding: 0;
	height: 1100px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7))), url(./Pics/Hands_Leaf.jpg);
	background-attachment: fixed;
	background-position: center;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 95%, 88% 95%, 79% 100%, 69% 95%, 0 95%);
	clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 95%, 88% 95%, 79% 100%, 69% 95%, 0 95%);
	background-size: cover;
	text-align: center;
	
}
.background-opacity{
	opacity: 0;		
}

.background-transition {
	-webkit-transition: opacity ease-in-out .7s;
	transition: opacity ease-in-out .7s;
}

.sticky{
	background: #267781;
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
	height: 80px;
	width: 100%;
	position: fixed;
	z-index: 10;
		
}

#logo {
	float: left;
	height: 70px;
	width: auto;
	margin-left: 30px;
	margin-top: 5px;
	padding: 10px;
	cursor: pointer;
	-webkit-transition: border 0.3s;
	transition: border 0.3s;
	border-radius: 20%;
	border: 1px solid #26768100;
	
}
#logo:hover{
	border:1px solid white;
	
}

#main-nav li{
	list-style: none;
	float: right;
	height: 40px;
	margin-right: 40px;
	margin-top: 40px;
	padding-top:10px;
	padding-right: 20px;
	text-decoration: none;
	border-right: 2px solid black;
	color: black;
	font-weight: 700;
	font-size: 20px;
	padding-top: 15px;
	cursor: pointer;
	text-transform: uppercase;
}


#main-nav li:hover,
#main-nav li:active,
#main-nav a:hover {
	color: white;
	-webkit-transition: color .4s;
	transition: color .4s;
}
#main-nav a{
	text-decoration: none;
	color: black;
}

.nav-toggler{
	border :none;
	display: none;
	position: fixed;
	z-index: 4;
	background-color: rgba(255, 255, 255, 0);
	outline: none;
	color: black;
	font-size: 40px;
	position: absolute;
	right: 20px;
	top: 20px;
}

.nav-toggler:hover{
		color: white;
	-webkit-transition: color .4s;
	transition: color .4s;
}

.header_box{
	display: grid;
	grid-column: 2/3;
	grid-row: 2/3;
}

.header_box h1 {
	font-size: 5em;
	color: #267781;
}

.header_box span {
	color: white;
	font-size: 120%;
}

.donate_btn,
.btn:link,
.btn:visited {
	width: 50%;
	text-decoration: none;
	color: white;
	border: 2px solid #267781;
	padding: 5%;
	margin-top: 20px;
	margin-left: 25%;
	margin-right: 25%;
	border-radius: 200px;
	display: inline-block;
	background-color: transparent;
	font-weight: 700;
	font-size: 2.1em;
	

}

.btn:hover,
.btn:active,
input[type=submit] {
	display: inline-block;
	color: white;
	background-color: #267781;
	-webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

/*----------------------------------------------------------------*/

/*------------------------------------------*/

/*--------------Story Section 3--------------*/

/*------------------------------------------*/

/*----------------------------------------------------------------*/
.story-grid{	
	height: 100%;
	width: auto;
	display: grid;
	grid-template-columns: 100px 20px 1fr 100px 300px 1fr 20px;
	grid-template-rows: 50px 20px 250px 20px 250px 20px 250px 20px 50px;
}
.story-grid::after,.story-grid::before{	
	display: grid;
	grid-row: 9/10;
	position: initial;
	z-index: 1;
	content: "";
	width: 200px;
	margin-top: 10px;
	height: 76px;
	background: rgb(107, 107, 107);
}
.story-grid::after{
	grid-column: 1;
	margin-left: 160px;
	-webkit-transform: skew(0, 20deg);
	transform: skew(0, 20deg)
}
.story-grid::before{
	grid-column: 2;
	margin-left: 30px;
	-webkit-transform: skew(0, -20deg);
	 transform: skew(0, -20deg)
}
.story-container{
	position: initial;
	z-index: 2;
	grid-column: 2/4;
	grid-row: 2/8;
	border: 20px solid #267781;
	background-image: url("./Pics/denver.jpg");
	background-position: center;
}

.story{
	position: relative;
	top: 5%;;
	left: 5%;
	width: 90%;
	height: 90%;
	border: 4px solid #267781;
	background: rgba(0, 0, 0, 0.76);
	text-align: center;
	font-size: 2em;	
}
.story h1{
	color: #267781;
	font-size: 4rem;
}

.story p{
	color: aliceblue;
	padding: 20px;
}
.mary img,.greg img,.pam img{
	border-radius: 50%;
	height: 250px;
	width: 250px;
	border: 3px solid #267781;
}
.greg-quote, .mary-quote, .pam-quote{
	background-image: url("./Pics/Quotes.png");
	background-size: 250px;
	background-repeat: no-repeat;
	display: grid;
	font-weight: 700;
	font-size: 2rem;
	padding: 80px;
	text-align: center;
	
}

.mary{
	display: grid;
	grid-column: 5/6;
	grid-row: 3/4;
}

.mary-quote{	
	display: grid;
	grid-column: 6/7;
	grid-row: 2/4;	
}
.pam{
	display: grid;
	grid-column: 5/6;
	grid-row: 5/6;
}

.pam-quote{	
	grid-column: 6/7;
	grid-row: 4/5;	
}

.greg{
	display: grid;
	grid-column: 5/6;
	grid-row: 7/8;
}
.greg-quote{
	grid-column: 6/7;
	grid-row: 6/7;
}

.mary-quote hr, .pam-quote hr, .greg-quote hr{
	height: 4px;
	background: white;
	margin-top: 20px;
	border-radius: 30%;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}


.mary-quote span,.pam-quote span, .greg-quote span{
	font-size: 1.2rem;
	font-weight: 700;
	margin-right: 5%;
	padding: 5px;
	color: #1d575fce;
}


/*----------------------------------------------------------------*/

/*------------------------------------------*/

/*--------------Media Section 4--------------*/

/*------------------------------------------*/

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/

.media-grid{
height: 100%;
width: 100%;
display: grid;
background-color: white;
grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 100px;
grid-template-rows: 700px 300px 100px;
grid-gap: 40px;
-webkit-transition: background-color ease-in-out .7s;
transition: background-color ease-in-out .7s

}
.media-grid::after,.media-grid::before{
	content: "";
	width: 80%;
	height: 100px;
	margin-top: 90px;
	margin-left: 50%;
	display: grid;
	grid-row: 3;
	grid-column: 6;
	background:rgb(107, 107, 107);	
	}
	.media-grid::after{
		display: grid;
		
		-webkit-transform: skew(0, -20deg);
		transform: skew(0, -20deg)
	}
	.media-grid::before{
		
		left: 80%;
		-webkit-transform: skew(0, 20deg);
		 transform: skew(0, 20deg)
	}
.media-main{
	height: 100%;
	width: auto;
	display: grid;
	grid-column: 1/-1;
	grid-row: 1/2;
	background-image: url('Pics/colorado6.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.media-transition{
	-webkit-animation-name: mediaAnimation;
	        animation-name: mediaAnimation;
	-webkit-animation-duration: 0.7s;
	        animation-duration: 0.7s;
}
@-webkit-keyframes mediaAnimation{
	0%{
		
		opacity: .5;
	}
	100%{	
		opacity: 1;
	}
}
@keyframes mediaAnimation{
	0%{
		
		opacity: .5;
	}
	100%{	
		opacity: 1;
	}
}

.main-left-arrow,.main-right-arrow{
	font-size: 50px;
	text-align: center;
	padding-top: 325px;
	opacity: .3;
}
.main-left-arrow{
	grid-column: 1/2;
	grid-row: 1/2;
}
.main-right-arrow{
	grid-column: 7/-1;
	grid-row: 1/2;
}
.main-right-arrow:hover,
.main-right-arrow:active,.main-left-arrow:hover,
.main-left-arrow:active {
	color: white;
	-webkit-transition: color, background .4s;
	transition: color, background .4s;
	background: rgba(93, 93, 93, 0.349);
	cursor: pointer;
	opacity: .8;
}
.sub-pic-1,.sub-pic-2,.sub-pic-3,.sub-pic-4,.sub-pic-5{
	display: grid;
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 3px solid #267781;
	-webkit-filter: brightness(60%);
	        filter: brightness(60%)
}
.sub-pic-1:hover,.sub-pic-2:hover,.sub-pic-3:hover,.sub-pic-4:hover,.sub-pic-5:hover{
	-webkit-transition: -webkit-filter 0.4s;
	transition: -webkit-filter 0.4s;
	transition: filter 0.4s;
	transition: filter 0.4s, -webkit-filter 0.4s;
	-webkit-filter: brightness(100%);
	        filter: brightness(100%)
}

.sub-pic-1{	
	display: grid;
	grid-column: 2/3;
	grid-row: 2/3;
	background-image: url('Pics/colorado1.jpg');
	
}
.sub-pic-2{	
	grid-column: 3/4;
	grid-row: 2/3;
	background-image: url('Pics/colorado2.jpg');
	
}
.sub-pic-3{		
	grid-column: 4/5;
	grid-row: 2/3;
	background-image: url('Pics/colorado6.jpg');
	
}
.sub-pic-4{
	grid-column: 5/6;
	grid-row: 2/3;
	background-image: url('Pics/colorado4.jpg');
	
}
.sub-pic-5{
	grid-column: 6/7;
	grid-row: 2/3;
	background-image: url('Pics/colorado5.jpg');

}




/*------------------------------------------*/

/*--------------Contact Section 5--------------*/

/*------------------------------------------*/

/*----------------------------------------------------------------*/

.contact-grid{
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 20% 40px 1fr 10% 10% 5%;
	grid-template-rows: 40px 200px 1fr 40px 20px;
}

	.cornacopia{
		background-image: url(./Pics/CornacopiaLogoTransparent.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		opacity: .1;
		position: absolute;
		z-index: 3;
		top:3350px;
		right: 0px;
		height: 800px;
		width: 60%;
		margin-left: 50%;
	}

.contact-grid h2{
	position: initial;
	z-index: 1;
	font-size: 3rem;
	color: white;
	display: grid;
	grid-column: 2/4;
	grid-row: 1/2;
	text-align: center;
	padding-top: 2%;
	-webkit-text-decoration: underline #1d575fce;
	        text-decoration: underline #1d575fce;
}

.contact-container{
	height: 100%;
	width: 100%;
	display: grid;
	grid-column: 2/4;
	grid-row: 3/4;	
}
.contact-border1{
	height: 100%;
	width: 100%;
	display: grid;
	grid-column: 2/3;
	grid-row: 2/5;
	border-left: 10px solid #1d575fce;
}
.contact-border2{
	height: 80%;
	width: 100%;
	display: grid;
	grid-column: 2/3;
	grid-row: 2/5;
	margin-top: 50px;
	border-right: 10px solid #1d575fce;
}
.contact-container form{
	padding-left: 80px;
	font-size: 2.5rem;
	font-weight: 700;
	position: initial;
	z-index: 3;	
}
.contact-container  label{
	padding: 15px;
	margin: 10px;
}

.contact-container  input, .contact-container textarea{
	position: initial;
	z-index: 0;
	opacity: .5;
	font-size: 1.5rem;
	margin: 20px;
	padding: 10px;
	font-weight: 600;
	color: #505050;
	border: 4px solid rgba(255, 255, 255, 0);
}
.contact-container textarea{
	width: 88%;
	height: 400px;
	font-size: 1.5rem;
}
.contact-container input:focus, .contact-container textarea:focus{
	border: 4px solid #1a4c53ce;
	opacity: 1;
	outline-style: none;
}
#submit-btn{
	opacity: 1;
	position: initial;
	z-index: 5;
	margin-left: 25%;
	border: none;
	padding: 15px;
	background: none;
	color:white;
	border: 3px solid #267781;
	border-radius: 10%;
	outline-style: none;
}
#reset-btn{
	opacity: 1;
	position: initial;
	z-index: 5;
	border-radius: 10%;
	border: none;
	outline-style: none;
}
#submit-btn:hover{
	-webkit-transition: background 0.5s;
	transition: background 0.5s;
	background: #267781

}
#reset-btn:hover{
	-webkit-transition: background 0.5s;
	transition: background 0.5s;
	color: black;
}




/*-----------Footer------------*/

footer{
	height: 200px;
	line-height: 200px;
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 2px;
	word-spacing: 4px;
	
}

/*-----------Media Queries ------------*/
@media (max-width: 1700px){
	html{
		font-size: 14px;
	}
	
	.mary img,.greg img,.pam img{
		height: 200px;
		width: 200px;
		;
	}


}
@media (max-width: 1250px){
	html{
		font-size: 13px;
	}
	.story-grid{	
		
		grid-template-columns: 20px 20px 2fr 40px 200px 2fr  20px;
		grid-template-rows: 50px 60px 250px 20px 250px 20px 250px 20px 50px;
	}
	.mary img,.greg img,.pam img{
		height: 200px;
		width: 200px;
		;
	}
	
	.greg-quote, .mary-quote, .pam-quote{
		background-size: 180px;
		padding: 50px;	
		}
	.contact-grid h2{
		font-size: 4rem;
		}
	.media-grid::after,.media-grid::before{
		content: "";
		width: 120%;
		}
}
@media (max-width: 970px){
	
	
	#main-nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		padding: 0;
		margin: 0;
		margin-top: 78px;
		height: 250px;
		width: 150px;		
		float: right;
		right:0;
		-webkit-clip-path: circle(0px at top right);
		clip-path: circle(0px at top right);
		-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.185);
		box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.185);
		visibility: hidden;
		-webkit-transition: all ease-in .4s;
		transition: all ease-in .4s;
		
		
	}
	.nav-open{
		visibility: visible !important;
		-webkit-clip-path: circle(100%)!important;
		clip-path: circle(100%)!important;
		border-bottom-left-radius: 50px;
	}

	
	#main-nav li{
		all: unset;
		padding: 20px;
		background-color: #267781;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 18px;
		cursor: pointer;
		
		
	}
	#main-nav li:nth-last-child(4){
		background-color: #267781;
		border-bottom-left-radius: 50px;
		
		
	}
	.nav-toggler{
		position: fixed;
		display: initial;	
		
	}

	.header_box h1{
		font-size: 6rem;
	}
	
	.story-grid{		
		grid-template-columns: 20px 20px 2fr 40px 200px 2fr  20px;
		grid-template-rows: 10px 60px 250px 20px 250px 20px 250px 80px    250px 80px 250px 80px 250px 50px;
	}
	.story-grid::after,.story-grid::before{	
		position: initial;
		z-index: 1;
		grid-row: 14/15;
		width: 550%;
		margin-top: 20px;
		height: 076px;
	}


		.story-container{
			grid-column: 2/7;
			grid-row: 2/8;
		}
		
		
		.story{
			font-size: 4rem;
		}
		.mary img,.greg img,.pam img{
			height: 100%;
			width: 80%;
			
		}
		.mary-quote span,.pam-quote span, .greg-quote span{
			font-size: 2rem;
			font-weight: 700;
			margin-right: 5%;
			padding: 5px;
			color: #1d575fce;
		}
		.mary-quote hr, .pam-quote hr, .greg-quote hr{
			height: 4px;
			background: white;
			margin-top: 20px;
			border-radius: 30%;
			width: 50%;
			margin-left: 25%;
			margin-right: 25%;
		}

	
		.mary{
			grid-column: 3/5;
			grid-row: 9/10;
		}
		
		.mary-quote{	
			grid-column: 5/8;
			grid-row: 9/10;	
			font-size: 2.4rem;
		}
		.pam{
			grid-column: 3/5;
			grid-row: 11/12;
			
		}
		
		.pam-quote{	
			grid-column: 5/8;
			grid-row: 11/12;
			font-size: 2.4rem;
		}
		
		.greg{
			grid-column: 3/5;
			grid-row: 13/14;
		}
		.greg-quote{
			grid-column: 5/8;
			grid-row: 13/14;
			font-size: 2.4rem;
		}

		.media-grid{
			background-color: rgb(107, 107, 107)!important;
			grid-template-columns: 100%;
			grid-template-rows: 500px 500px 500px 500px 500px 50px;
			grid-gap: 10px;
			
			}
			
		.main-left-arrow,.main-right-arrow{
			visibility: hidden;
			}

		.sub-pic-1,.sub-pic-2,.sub-pic-3,.sub-pic-4,.sub-pic-5{
				
			border: none;
			-webkit-filter: brightness(100%);
			filter: brightness(100%);
			grid-column: 1/-1;
			}
		.sub-pic-1:hover,.sub-pic-2:hover,.sub-pic-3:hover,.sub-pic-4:hover,.sub-pic-5:hover{
			-webkit-transition: none;
			transition: none;	
			}
			
		
		.sub-pic-1{	
			grid-row: 1/2;		
			}
		.sub-pic-2{	
			grid-row: 2/3;		
			}
		.sub-pic-3{	
			grid-row: 3/4;		
			}
		
		.sub-pic-4{			
			grid-row: 4/5;
			}
		.sub-pic-5{			
			grid-row: 5/6;
			}


		.contact-grid{
			grid-template-columns: 25% 40px 1fr 10%;
			grid-template-rows: 40px 200px 1fr 40px 20px;
			}		
			
		
		.cornacopia{
			top:5800px;	
			height: 600px;
			width: 90%;
			margin-right: 0%;
		}

		footer{
			
			font-size: 1rem;
			
		}
		

	
}

@media (max-width: 800px){
	.story{
		font-size: 3.0em;	
	}
	.story h1{
		color: #267781;
		font-size: 3.5rem;
		padding: 5px;
	}
	
	.story p{
		padding: 0px;
	}
	.mary img,.greg img,.pam img{
		margin-top: 60px;
		border-radius: 50%;
		height: 150px;
		width: 150px;
		border: 3px solid #267781;
	}
	footer{		
		font-size: 1rem;
		letter-spacing: 0px;
		word-spacing: 0px;
	}
	
}

@media (max-width: 600px){

	.contact-grid{	
		grid-template-columns: 10% 40px 1fr 10%;
		grid-template-rows: 40px 200px 1fr 40px 20px;
	}	

	.contact-container form{
		padding-left: 40px;
		font-size: 2.5rem;
		font-weight: 700;
	
	}
	.story-grid{		
		grid-template-columns: 20px 20px 2fr 40px 200px 2fr  20px;
		grid-template-rows: 10px 60px 250px 20px 250px 20px 250px 80px    250px 80px 250px 80px 250px 100px;
	}
	.story-grid::after,.story-grid::before{	

		grid-row: 14/15;
		width: 400%;
		height: 106px;
		margin: 0;
		margin-top: 20px;
		margin-left: 10px;
	
	}
	.story-grid::after{	
		margin-left:80px; 
	}
	.story{
		font-size: 2rem;
	}
	.mary img,.greg img,.pam img{
		position: initial;
		z-index: 5;
		margin-top: 150px;
		border-radius: 50%;
		height: 120px;
		width: 120px;
		border: 3px solid #267781;
	}

	.mary-quote ,.pam-quote , .greg-quote {
		font-size: 1.7rem;
		
	}
	.contact-container  input, .contact-container textarea{
		position: initial;
		z-index: 0;
		opacity: .5;
		font-size: 1.5rem;
		margin: 2px;
		padding: 5px;
		font-weight: 600;
		color: #505050;
		border: 4px solid rgba(255, 255, 255, 0);
	}

}


